.wynnmap-container {
    overflow: hidden;
    backface-visibility: hidden;
    contain: strict;
}

.wynnmap-inner {
    transform-origin: 0 0;
    backface-visibility: hidden;
}

.wynnmap-transitions {
    transition: transform 0.2s;
}

.wynnmap-zoomedin .wynnmap-tile {
    image-rendering: pixelated;
}

.wynnmap-zoomedout .wynnmap-hide-zoomedout {
    display: none;
}

.wynnmap-tile {
    position: fixed;
    max-width: unset;
    contain: strict;
    /* reduce chromium/webkit pixel gaps */
    /* still visible at high zooms but greatly reduced */
    mix-blend-mode: plus-lighter;
}

.wynnmap-item {
    position: fixed;
}

.wynnmap-container [class^="icon-"] {
    image-rendering: smooth;
}

.wynnmap-zoomedin [class^="icon-"] {
    image-rendering: pixelated;
}

.guildterr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 2px;
}

.guildterr .attacktmr {
    position: absolute;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    z-index: -1;

    border: 4px dashed transparent;
}

@keyframes attackdelay {
    0% {
        border-color: oklch(0.577 0.245 27.325);
    }

    25% {
        border-color: oklch(0.646 0.222 41.116);
    }

    50% {
        border-color: oklch(0.769 0.188 70.08);
    }

    75% {
        border-color: oklch(0.852 0.199 91.936);
    }

    100% {
        border-color: oklch(0.841 0.238 128.85);
    }
}

@keyframes flash {
    0% {
        border-color: oklch(0.577 0.245 27.325);
    }

    100% {
        border-color: transparent;
    }
}