.wynnmap-container {
    overflow: hidden;
    backface-visibility: hidden;
}

.wynnmap-inner {
    backface-visibility: hidden;
}

.wynnmap-zoomer {
    transform-origin: 0 0;
    backface-visibility: hidden;
}

.wynnmap-zoomer-transitions {
    transition: transform 0.25s;
}

.wynnmap-zoomedin .wynnmap-tile {
    image-rendering: pixelated;
}

.wynnmap-tile {
    position: absolute;
    max-width: unset;
    contain: strict;
}

.wynnmap-item {
    position: absolute;
    pointer-events: none;
}