.wynnmap-container {
    overflow: hidden;
    backface-visibility: hidden;
}

.wynnmap-inner {
    transform-origin: 0 0;
    backface-visibility: hidden;
}

.wynnmap-transitions {
    transition: transform 0.2s;
}

.wynnmap-zoomedin .wynnmap-tile {
    image-rendering: pixelated;
}

.wynnmap-tile {
    position: absolute;
    max-width: unset;
    contain: strict;
}

.wynnmap-item {
    position: absolute;
}