@import "tailwindcss";

@font-face {
    font-family: "Roboto";
    src: url("./Roboto-VariableFont_wdth,wght.ttf") format("truetype-variations");
}

/* some variable options */
* {
    /* checkbox regular colour */
    --checkbox: #5f5f5f;
    /* checkbox hover colour */
    --checkbox-hover: #afafaf;
    /* checkbox tick colour */
    --checkbox-tick: #ffffff;
}

html {
    font-family: "Roboto", sans-serif;
    overflow: hidden;

    @apply bg-neutral-950;
}

html::before {
    content: "";
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 182px;
    opacity: 0.08;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    z-index: -1;
}

.guildterr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 2px;
    contain: layout;
}

.textshadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.icon-emerald {
    background-position: 0 -20px;
}

.icon-crops {
    background-position: 0 0;
}

.icon-fish {
    background-position: -20px 0;
}

.icon-ores {
    background-position: -40px 0;
}

.icon-wood {
    background-position: -60px 0;
}

[class^="icon-"] {
    width: 20px;
    height: 20px;
    background-image: url("./icons.png");
}

.wynnmap-zoomedin [class^="icon-"] {
    image-rendering: pixelated;
}



/* checkbox styles */

/* Customize the label (the container) */
.checkbox-contain {
    display: block;
    position: relative;
    margin-bottom: 0.5em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-contain input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0.25em;
    height: 1em;
    width: 1em;
    background-color: var(--checkbox);
}

/* On mouse-over */
.checkbox-contain:hover input~.checkmark {
    background-color: var(--checkbox-hover);
}

/* When the checkbox is checked (DISABLED) */
/* .checkbox-container input:checked ~ .checkmark {
    background-color: var(--fr-500);
} */

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-contain input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-contain .checkmark:after {
    left: 0.29em;
    top: 0.08em;
    width: 0.4em;
    height: 0.75em;
    border: solid var(--checkbox-tick);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* shift text along from checkbox */
.checkbox-contain .texts {
    position: relative;
    left: 1.25em;
}