@import "tailwindcss";

@font-face {
    font-family: "Roboto";
    src: url("./Roboto-VariableFont_wdth,wght.ttf") format("truetype-variations");
}

html {
    font-family: "Roboto", sans-serif;
}

.leaflet-image-layer {
    image-rendering: crisp-edges;
}

.guildterr {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 2px;
}

.textshadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}