.checkbox:hover input {
    @apply input-hover;
}

.checkbox {
    display: inline-flex;
    align-items: center;
    position: relative;

    @apply gap-1.5;

    input {
        appearance: none;

        cursor: pointer;
        user-select: none;

        @apply input-base h-lh w-[1lh];
    }

    input:disabled {
        @apply bg-neutral-900;
    }

    input:checked+.checkmark {
        display: flex;
    }

    .checkmark {
        display: none;
        position: absolute;

        cursor: pointer;
        user-select: none;

        pointer-events: none;

        @apply justify-center items-center h-lh w-[1lh];

        div {
            @apply w-[0.4em] h-[0.75em] mb-0.5 rotate-45 border-white border-0 border-r-3 border-b-3;
        }
    }

    input:disabled+.checkmark>div {
        @apply border-neutral-400;
    }

    label {
        cursor: pointer;
        user-select: none;
    }

    input:disabled~label {
        @apply text-neutral-400;
    }
}