.incrementor {
    align-items: center;

    button {
        display: inline-block;
        @apply input-base w-6 h-6 leading-none;
    }

    input {
        display: inline-block;
        text-align: center;
        appearance: textfield;

        @apply w-7;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}