.shitmap-container {
    overflow: hidden;
    backface-visibility: hidden;
}

.shitmap-inner {
    backface-visibility: hidden;
}

.shitmap-zoomer {
    transform-origin: 0 0;
    backface-visibility: hidden;
}

.shitmap-zoomer-transitions {
    transition: transform 0.25s;
}

.shitmap-zoomedin .shitmap-tile {
    image-rendering: pixelated;
}

.shitmap-tile {
    position: absolute;
    max-width: unset;
}

.shitmap-item {
    position: absolute;
    pointer-events: none;
}