.dropsearch {
    display: flex;
    flex-direction: column;

    @apply p-2 gap-2;

    >input {
        @apply border border-neutral-600 p-1 px-2 rounded-lg;
    }
}

.dropsearchres {
    display: flex;
    flex-direction: column;

    >div {
        cursor: pointer;
        @apply p-2 hover:bg-neutral-700
    }
}

.dropsearch-hint {
    display: flex;
    flex-direction: column;

    text-align: center;

    @apply text-neutral-300;
}

.dropsiteminfo {
    display: flex;
    flex-direction: column;

    >*:not(:last-child) {
        border-bottom: 1px solid;

        @apply border-neutral-600;
    }

    >.backbtn {
        display: flex;
        align-items: center;
        cursor: pointer;

        @apply p-2 gap-2 hover:bg-neutral-700;

        h2 {
            @apply text-xl;
        }
    }

    >.info {
        @apply p-2;

        h2 {
            @apply text-xl;
        }
    }

    >.dropsources {
        display: grid;
        grid-template-columns: min-content auto auto;

        background-color: black;

        >.source {
            display: grid;
            grid-column: 1/4;
            grid-template-columns: subgrid;

            background-color: rgb(var(--col) / 0.4);

            >div:first-child {
                width: 0.5lh;

                background-color: rgb(var(--col));
            }

            >div:last-child {
                display: grid;
                grid-column: 2/4;
                grid-template-columns: subgrid;

                @apply p-2;

                >span:last-child {
                    text-align: right;
                }
            }
        }
    }
}

.sidecard .dropinfocard {
    display: flex;
    flex-direction: row;

    padding: 0 !important;

    >div:first-child {
        width: 0.5lh;

        background-color: rgb(var(--col));
    }

    >div:last-child {
        @apply p-2;

        >p>svg {
            display: inline-block;
            cursor: pointer;
        }
    }
}