.icon-emeralds {
    background-position: 0 -20px;
}

.icon-crops {
    background-position: 0 0;
}

.icon-fish {
    background-position: -20px 0;
}

.icon-ore {
    background-position: -40px 0;
}

.icon-wood {
    background-position: -60px 0;
}

.icon-crown {
    background-position: -20px -20px;
}
.icon-crown.tsd {
    background-position: -80px -60px;
}

[class^="icon-"] {
    width: 20px;
    height: 20px;
    background-image: url("./icons.webp");
    image-rendering: pixelated;
}