.wynnmap-container {
    width: 100vw;
    height: 100vh;
    touch-action: none;
    overflow: hidden;
    backface-visibility: hidden;
    contain: strict;
    isolation: isolate;
}

.wynnmap-inner {
    position: relative;
    transform-origin: 0 0;
    backface-visibility: hidden;
    contain: layout;
}

.wynnmap-transitions {
    transition: transform 0.2s;
}

.wynnmap-zoomedin .wynnmap-tile {
    image-rendering: pixelated;
}

.wynnmap-zoomedout .wynnmap-hide-zoomedout {
    display: none;
}

.wynnmap-tiles {
    pointer-events: none;
    user-select: none;
}

.wynnmap-tiles.tiles-grayscale {
    filter: grayscale(1) contrast(0.8) brightness(0.4);
}

.wynnmap-tile {
    position: absolute;
    max-width: unset;
    contain: strict;

    /* reduce chromium/webkit pixel gaps */
    /* still visible at high zooms but greatly reduced */
    mix-blend-mode: plus-lighter;
}

.connpath {
    position: absolute;
    pointer-events: none;
    user-select: none;
    contain: strict;
}

.wynnmap-items {
    contain: style;

    pointer-events: none;
    user-select: none;
}

.wynnmap-item {
    position: absolute;
    backface-visibility: hidden;
}

.wynnmap-container .spriteicon {
    image-rendering: smooth;
}

.wynnmap-zoomedin .spriteicon {
    image-rendering: pixelated;
}

.guildterr-box {
    position: absolute;

    contain: strict;

    background-color: rgb(var(--guild-col) / 0.35);
    border: 2px solid rgb(var(--guild-col));

    &.hq {
        background-color: rgb(var(--guild-col) / 0.75);
    }

    &.guildterr-notrans {
        background-color: rgb(var(--guild-col));
    }
}

.guildterr-info {
    position: absolute;
    width: 0;
    height: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >.guildtag {
        font-size: var(--tsize);
        height: 1lh;
        width: 6ch;
        flex-shrink: 0;
        text-align: center;

        font-weight: 900;
        color: white;
        -webkit-text-stroke: black 4px;
        paint-order: stroke;
        font-optical-sizing: auto;

        contain: strict;

        margin: -0.2lh 0;
    }

    >.resicons {
        display: flex;
        height: 20px;
        margin: 0 0 2px 0;
        width: 120px;
        flex-shrink: 0;
        justify-content: center;

        contain: strict;
    }

    >.terrtimer {
        @apply text-sm;
        text-align: center;
        white-space: nowrap;

        display: flex;
        justify-content: center;
        height: 1lh;
        width: 16ch;
        flex-shrink: 0;

        contain: strict;

        >span {
            @apply px-2;
            @apply rounded-2xl;

            contain: layout paint;

            background-color: var(--bg-col);
            color: black;
        }
    }
}

.attackborder {
    position: absolute;

    contain: strict;

    border: 4px dashed transparent;

    animation: attack-and-flash 601s linear 1 forwards;
}

@keyframes attack-and-flash {

    /* First 600 seconds */
    0% {
        border-color: oklch(0.577 0.245 27.325);
    }

    24.9584% {
        border-color: oklch(0.646 0.222 41.116);
    }

    49.9168% {
        border-color: oklch(0.769 0.188 70.08);
    }

    74.8752% {
        border-color: oklch(0.852 0.199 91.936);
    }

    /* At 600 seconds */
    99.8336% {
        border-color: oklch(0.841 0.238 128.85);
    }

    /* Five flashes during the final second */
    99.8337% {
        border-color: oklch(0.577 0.245 27.325);
    }

    99.8503% {
        border-color: transparent;
    }

    99.8669% {
        border-color: oklch(0.577 0.245 27.325);
    }

    99.8836% {
        border-color: transparent;
    }

    99.9002% {
        border-color: oklch(0.577 0.245 27.325);
    }

    99.9169% {
        border-color: transparent;
    }

    99.9335% {
        border-color: oklch(0.577 0.245 27.325);
    }

    99.9501% {
        border-color: transparent;
    }

    99.9668% {
        border-color: oklch(0.577 0.245 27.325);
    }

    100% {
        border-color: transparent;
    }
}

.wynnmap-btmtxt {
    position: absolute;
    left: 0;
    bottom: 0;

    opacity: 0.75;
}

.wynnmap-ctxmenu {
    position: absolute;
    display: flex;
    flex-direction: column;

    overflow: auto;

    max-height: 100dvh;

    @apply bg-neutral-900 rounded max-w-sm;

    >.ctxmenu-btn {
        display: flex;

        cursor: pointer;

        @apply p-2 gap-2;
    }

    >.ctxmenu-btn:hover {
        @apply bg-neutral-700;
    }

    >*+* {
        border-top: 1px solid;

        @apply border-neutral-600;
    }
}

.wynnmap-ctxmenu.hidden {
    display: none;
}