.wynnmap-container {
    width: 100vw;
    height: 100vh;
    touch-action: none;
    overflow: hidden;
    backface-visibility: hidden;
    contain: strict;
    isolation: isolate;
}

.wynnmap-inner {
    position: relative;
    transform-origin: 0 0;
    backface-visibility: hidden;
    contain: size layout;

    transform: matrix3d(var(--z), 0, 0, 0, 0, var(--z), 0, 0, 0, 0, 1, 0, var(--x), var(--y), 0, 1)
}

.wynnmap-transitions {
    transition: transform 0.2s;
}

.wynnmap-zoomedin .wynnmap-tile {
    image-rendering: pixelated;
}

.wynnmap-zoomedout .wynnmap-hide-zoomedout {
    display: none;
}

.wynnmap-tiles {
    contain: style;
    isolation: isolate;
    pointer-events: none;
    user-select: none;
}

.wynnmap-tile {
    position: fixed;
    max-width: unset;
    content-visibility: auto;

    /* reduce chromium/webkit pixel gaps */
    /* still visible at high zooms but greatly reduced */
    mix-blend-mode: plus-lighter;
}

.connpath {
    position: fixed;
    pointer-events: none;
    user-select: none;
    backface-visibility: hidden;
    content-visibility: auto;
}

.wynnmap-items {
    contain: style;
    isolation: isolate;
}

.wynnmap-item {
    position: fixed;
    backface-visibility: hidden;
}

.wynnmap-container [class^="icon-"] {
    image-rendering: smooth;
}

.wynnmap-zoomedin [class^="icon-"] {
    image-rendering: pixelated;
}

.guildterr {
    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(var(--guild-col) / 0.35);
    border: 2px solid rgb(var(--guild-col));

    pointer-events: none;
    user-select: none;

    >.icon-crown {
        display: none;
        aspect-ratio: 1;
    }

    &.hq {
        background-color: rgb(var(--guild-col) / 0.75);

        >.icon-crown {
            display: block;
        }
    }

    >.guildtag {
        font-size: var(--tsize);
        height: 1lh;
        width: 6ch;
        flex-shrink: 0;
        text-align: center;

        font-weight: 900;
        color: white;
        -webkit-text-stroke: black 4px;
        paint-order: stroke;
        font-optical-sizing: auto;

        margin: -0.15lh 0;
    }

    >.resicons {
        display: flex;
        height: 24px;
        width: 120px;
        flex-shrink: 0;
        justify-content: center;
    }

    >.terrtimer {
        @apply text-sm;
        text-align: center;
        white-space: nowrap;

        display: flex;
        justify-content: center;
        height: 1lh;
        width: 16ch;
        flex-shrink: 0;

        >h4 {
            @apply px-2;
            @apply rounded-2xl;

            contain: paint;

            background-color: var(--bg-col);
            color: black;
        }
    }

    >.attacktmr {
        position: absolute;
        width: calc(100% + 6px);
        height: calc(100% + 6px);
        z-index: -1;

        border: 4px dashed transparent;
    }
}

.guildterr-notrans {
    background-color: rgb(var(--guild-col));
}


@keyframes attackdelay {
    0% {
        border-color: oklch(0.577 0.245 27.325);
    }

    25% {
        border-color: oklch(0.646 0.222 41.116);
    }

    50% {
        border-color: oklch(0.769 0.188 70.08);
    }

    75% {
        border-color: oklch(0.852 0.199 91.936);
    }

    100% {
        border-color: oklch(0.841 0.238 128.85);
    }
}

@keyframes flash {
    0% {
        border-color: oklch(0.577 0.245 27.325);
    }

    100% {
        border-color: transparent;
    }
}