.wynnmap-container {
    width: 100vw;
    height: 100vh;
    touch-action: none;
    overflow: hidden;
    backface-visibility: hidden;
    contain: strict;
}

.wynnmap-inner {
    position: relative;
    transform-origin: 0 0;
    backface-visibility: hidden;
    contain: size layout;

    transform: matrix3d(var(--z), 0, 0, 0, 0, var(--z), 0, 0, 0, 0, 1, 0, var(--x), var(--y), 0, 1)
}

.wynnmap-transitions {
    transition: transform 0.2s;
}

.wynnmap-zoomedin .wynnmap-tile {
    image-rendering: pixelated;
}

.wynnmap-zoomedout .wynnmap-hide-zoomedout {
    display: none;
}

.wynnmap-tile {
    position: fixed;
    max-width: unset;
    pointer-events: none;
    backface-visibility: hidden;
    contain: strict;
    content-visibility: auto;
    /* reduce chromium/webkit pixel gaps */
    /* still visible at high zooms but greatly reduced */
    mix-blend-mode: plus-lighter;
}

.connpath {
    position: fixed;
    pointer-events: none;
    backface-visibility: hidden;
    contain: strict;
}

.wynnmap-item {
    position: fixed;
    backface-visibility: hidden;
}

.wynnmap-container [class^="icon-"] {
    image-rendering: smooth;
}

.wynnmap-zoomedin [class^="icon-"] {
    image-rendering: pixelated;
}

.guildterr {
    background-color: rgb(var(--guild-col) / 0.35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(var(--guild-col));
    border-radius: 2px;
    contain: layout size;
    .crown-container {
        position: relative;
        /* this one is special, its not like the other icons. */
        > .icon-crown {
            position: absolute;
            width: 40px;
            height: 40px;
            contain: paint;
            background-repeat: no-repeat;
            bottom: -5px;
            left: -20px;
        }
    }

    .guildtag {
        font-size: var(--tsize);
        line-height: var(--tsize);

        font-weight: 900;
        color: white;
        -webkit-text-stroke: black 4px;
        paint-order: stroke;
        font-optical-sizing: auto;

        padding: 5px 5px;
        contain: paint;
    }

    .resicons {
        display: flex;
        height: 24px;
        contain: paint;
    }

    .terrtimer {
        @apply px-2;
        @apply rounded-2xl;
        @apply text-sm;
        text-align: center;
        white-space: nowrap;

        contain: paint;

        background-color: oklch(var(--bg-col));
        color: black;
    }

    .attacktmr {
        position: absolute;
        width: calc(100% + 6px);
        height: calc(100% + 6px);
        z-index: -1;

        border: 4px dashed transparent;
    }
}

.guildterr-notrans {
    background-color: rgb(var(--guild-col));
}

.guildterr.hq {
    background-color: rgb(var(--guild-col) / 0.75);
}

@keyframes attackdelay {
    0% {
        border-color: oklch(0.577 0.245 27.325);
    }

    25% {
        border-color: oklch(0.646 0.222 41.116);
    }

    50% {
        border-color: oklch(0.769 0.188 70.08);
    }

    75% {
        border-color: oklch(0.852 0.199 91.936);
    }

    100% {
        border-color: oklch(0.841 0.238 128.85);
    }
}

@keyframes flash {
    0% {
        border-color: oklch(0.577 0.245 27.325);
    }

    100% {
        border-color: transparent;
    }
}