[package]
name = "wynnmap-server"
version = "0.1.0"
edition = "2024"

[dependencies]
axum = "0.8.1"
chrono = { version = "0.4.40", features = ["serde"] }
image = { version = "0.25.5", default-features = false, features = ["png"] }
reqwest = { version = "0.12.12", features = ["json"] }
serde = { version = "1.0.218", features = ["derive", "rc"] }
tokio = { version = "1.43.0", features = ["rt-multi-thread", "fs"] }
toml = "0.8.20"
tracing = "0.1.41"
tracing-subscriber = "0.3.19"
uuid = { version = "1.15.1", features = ["serde"] }
webp = "0.3.0"
